@font-face {
  font-family: "PoppinsEL";
  src: url(Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "PoppinsM";
  src: url(Poppins-Medium.ttf);
}
@font-face {
  font-family: "Overpass";
  src: url(Overpass-Regular.ttf);
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0))), url(weallscream.jpg);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(weallscream.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(weallscream.jpg);
  background-size: cover;
  -webkit-backdrop-filter: brightness(150%) saturate(150%);
          backdrop-filter: brightness(150%) saturate(150%);
}

h1, h2, h3 {
  font-weight: normal;
  font-family: "PoppinsEL", sans-serif;
}
h1 b, h2 b, h3 b {
  font-family: "PoppinsM";
}

p, li {
  font-family: "Overpass", sans-serif;
}

nav {
  padding: 50px 20% 20px 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}
nav::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
nav h2 {
  font-size: 2rem;
  line-height: 1.25rem;
}

main {
  margin: 0px 20%;
}