@font-face {
  font-family: "PoppinsEL";
  src: url(Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "PoppinsM";
  src: url(Poppins-Medium.ttf);
}
@font-face {
  font-family: "Overpass";
  src: url(Overpass-Regular.ttf);
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0))), url(weallscream.jpg);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(weallscream.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(weallscream.jpg);
  background-size: cover;
  -webkit-backdrop-filter: brightness(150%) saturate(150%);
          backdrop-filter: brightness(150%) saturate(150%);
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: "PoppinsEL", sans-serif;
  line-height: 1.25rem;
}
h1 b, h2 b, h3 b, h4 b {
  font-family: "PoppinsM";
}

p, li {
  font-family: "Overpass", sans-serif;
}

nav {
  padding: 50px 20% 20px 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}
nav::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
nav h2 {
  font-size: 2rem;
}

main {
  margin: 20px 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
main p {
  font-size: 0.85rem;
}

.hero {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.circle {
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(59, 175, 255)), color-stop(50%, rgb(255, 91, 120)), to(rgb(255, 191, 34)));
  background: -o-linear-gradient(top left, rgb(59, 175, 255) 0%, rgb(255, 91, 120) 50%, rgb(255, 191, 34) 100%);
  background: linear-gradient(to bottom right, rgb(59, 175, 255) 0%, rgb(255, 91, 120) 50%, rgb(255, 191, 34) 100%);
  width: 210px;
  height: 210px;
  border-radius: 100%;
  padding: 30px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.circle img {
  max-height: 100%;
  margin-top: -5px;
  margin-left: -6px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.herotext {
  width: calc(100% - 210px);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.herotext h1 {
  width: 100%;
  font-size: 4rem;
  line-height: 4rem;
}
.herotext h1 b {
  background: -webkit-gradient(linear, left top, right top, from(rgb(71, 180, 255)), color-stop(50%, rgb(255, 111, 136)), to(rgb(255, 201, 68)));
  background: -o-linear-gradient(left, rgb(71, 180, 255) 0%, rgb(255, 111, 136) 50%, rgb(255, 201, 68) 100%);
  background: linear-gradient(90deg, rgb(71, 180, 255) 0%, rgb(255, 111, 136) 50%, rgb(255, 201, 68) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.herotext p {
  margin-top: 10px;
  font-size: 1rem;
  width: 100%;
}

.specialty {
  width: 49%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: white;
  padding: 15px;
  border-radius: 0 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
}
.specialty h3 {
  margin-bottom: 5px;
}
.specialty p {
  margin-top: 10px;
}
.specialty #popsicle, .specialty #catering {
  background-size: cover;
  height: 200px;
  width: calc(100% + 28px);
  border-top-right-radius: 15px;
  margin: -14px -14px 10px -14px;
}
.specialty #popsicle {
  background-image: url(popsicles.png);
  background-position: 0px -100px;
}
.specialty #catering {
  background-image: url(catering.png);
}